body {
    background-color: #03071E;
    color: #FAA307;
}

.nav-container {
    display: flex;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 10px;
    padding-right: 10px;
}

li a {
    text-decoration: none;
    color: #FAA307;
    font-weight: bold;
    font-size: 24px;
    padding-left: 50px;
}
li :hover {
    font-weight: lighter;
    color: #E85D04;
}

.social-media{
    font-size: 30px;
    min-height:100vh; 
    height:100px;
    padding-top: 40rem;
    margin: auto;
}

