body {
    background-color: #03071E;
    color: #FAA307;
}

.nav-container {
    display: flex;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 10px;
    padding-right: 10px;
}

li a {
    text-decoration: none;
    color: #FAA307;
    font-weight: bold;
    font-size: 24px;
    padding-left: 50px;
}
li :hover {
    font-weight: lighter;
    color: #E85D04;
}

/* Leann's calculator section */
.calculator {
    display: flex;
    justify-content: center;
}
.main {
 text-align: center;
 padding-left: 5%;
 padding-right: 5%;
 text-align: center;
}
.header-card {
    background-color: #efefef;
    border-color: #efefef;
    text-align: center;
}
.header-card > h1 {
    color: #101010;
}

/* calculator input styling */
.text-left {
    text-align:left;
}

.calc-btn {
    background-color:yellow;
    color: black;
    border:#9D0208
}
.inline {
    display: inline;
}

.calc-btn :hover{
    outline: none;
    border: #E85D04;
    box-shadow: 0 0 10px #E85D04;;
}

.workout-card {
    padding: 10%;

}

.workout-header {
    text-align: center;
}


/* media query section */
/* 390px nav burger media query */
.burgerbar {
    display: none;
}

.Nav-container {
    width:100%;
}

@media only screen and (max-width: 390px) {
    .burgerbar {
        display: block;
    }
    .Nav-container {
        display: none;
    }
}
