

body {
    background-color: #03071E;
    color: #FAA307;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.brand-title {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    
} 


label {
    display: flex;
    justify-content: center;
}

.burnt {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
} 

.nav ul {
    display: inline-block;
    float: right;
} 

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 10px;
    padding-right: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;

} 

li a {
    text-decoration: none;
    color: #FAA307;
    font-weight: bold;
    font-size: 24px;
    padding-left: 50px;
}
li :hover {
    color: #E85D04;
    text-decoration: none;
} 

/* .social-media{
    font-size: 30px;
    min-height:100vh; 
    height:100px;
    padding-top: 40rem;
    margin: auto;
} */

.article {
    display: flex;
  justify-content: space-around;
}

burnt.png{
  
    width:200px ;
    height:250px;
    margin-left: 550px;
    border-radius: 10%;
}
burnt.png:hover{
    color: #111; 
    background: greenyellow; 
    box-shadow: 0 0 100px greenyellow; 
}  



