
.lastWorkoutButton{
    background-color: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button:hover{
    background: #333;

}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    height: 100%;
    width:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    margin: 25% auto;
    padding: 20px;
    width: 70%;
    height: 60%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17)
}

.exit{
    color:#333;
    float:right;
    font-size: 20px;
}

.exit:hover,.exit:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}